/*
Farbschema generiert auf 
https://www.webmart.de/web/harmonische-farben#ff7b00:t:s:g:d 
*/

/* Kontraste: */
.myColor-1 { color: #ccb28f; } 
.myColor-2 { color: #806f59; } 
.myColor-3 { color: #e6dccf; } 
.myColor-4 { color: #bf9660; } 

.myColor-5 { color: #6e7e9d; } 
.myColor-6 { color: #596680; } 
.myColor-7 { color: #cfd6e6; } 
.myColor-8 { color: #607fbf; } 
.myColor-9 { color: #64567a; } 
.myColor-10 { color: #695980; } 
.myColor-11 { color: #d8cfe6; } 
.myColor-12 { color: #8660bf; } 

.myColor-13 { color: #ccc48f; } 
.myColor-14 { color: #807b59; } 
.myColor-15 { color: #e6e3cf; } 
.myColor-16 { color: #bfb360; } 